@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./assets/pexels-karolina-grabowska-4021809.jpg');
  justify-content: center;
  background-color: #f0f4f8;
  font-family: 'Arial, sans-serif, Montserrat, Caveat, Playpen Sans';
}

h1 {
  color: #333;
}

.card {
  background-image: url('');
  background-size: cover;
  background-color: black;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-text {
  font-size: 1rem;
  line-height: 1.5;
}

.form-label {
  font-weight: bold;
  color: #555;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .card {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .card {
    padding: 40px;
  }

  h1 {
    font-size: 32px;
  }
}